#root {
  display: grid; 
  grid-template-columns: 240px 1fr; 
  grid-template-rows: 60px 1fr; 
  gap: 0px 0px;
  grid-template-areas: 
    'sidebar navigation'
    'sidebar content'; 
  height: 100vh;
  background-color: #2C2C38;
  color: #FEFFFF;
}

.page-sidebar { grid-area: sidebar; }
.page-navigation { grid-area: navigation; }
.page-content { grid-area: content; padding: 1.8rem; }
