.task-box {
  display: flex;
  align-items: center;
  padding: 1.8rem;
  background-color: #2C2C38;
  border-radius: 0.6rem;

  .box-icons {
    display: flex;
    gap: 1.2rem;
    margin-left: auto;
  }

  .icon {
    opacity: 0.5;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
