.page-navigation {
  display: flex;
  align-items: center;
  padding: 0 1.8rem;
  background-color: #2C2C38;
  border-bottom: 1px solid #3F3F4B;

  .sidebar-hider {
    margin-right: 1.8rem;
    font-size: 1.7rem;
    cursor: pointer;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .board-name-label {
    font-size: 1.6rem;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.8rem;
    margin-left: auto;

    .nav-item {
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }

      &.full-opacity {
        opacity: 1;
      }
    }
  }
}
